body {
  width: 800px;
  height: auto;
  margin: 0 auto;
  background-color: wheat;
  padding: 0 20px 20px 20px;
  border: 5px solid red;
}


ul {
  color: blue;
  width: 500px;
  border: 1px solid black;
}

html {
  font-size: 10px; /* px means "pixels": the base font size is now 10 pixels high */
  font-family: "Open Sans", sans-serif; /* this should be the rest of the output you got from Google Fonts */
  background-color: darkred;
}

h1 {
  font-size: 80px;
  text-align: center;
    margin: 0;
    padding: 20px 0;
    color: red;
    text-shadow: 3px 3px 1px black;
}

h2,
h4 {text-align: center;
  margin: auto;
  color: red;
  font-size: x-large;
}